desktop-base-width     = 1020px
rupture.desktop-cutoff = $tablet = 1100px
rupture.mobile-cutoff  = $mobile = 768px
rupture.anti-overlap   = -1px

$bege = #EAB778

georgia($size, $weight = normal, $style = normal)
    font-size $size + 0px
    font-family 'Georgia', 'Times', 'Times New Roman', serif
    font-weight 400
    font-style $style
    if $weight == bold
        font-weight 700
