.autorizacao
    text-align center
    h2
        georgia 24
        +mobile()
            font-size 22px
        &:first-child
            margin-top 0
    h3
        georgia 20 normal italic
        +mobile()
            font-size 18px
    p
        georgia 18
        max-width 45em
        margin 1em auto
        &.texto-impressao
            georgia 15
            font-style italic
        +mobile()
            font-size 16px
    .line
        width 100%
        height 2px
        background #000
        margin 30px 0
    .btn
        display inline-block
        color $bege
        background #000
        georgia 24 bold
        transition background .3s, color .3s
        padding 18px 32px
        margin-top 1em
        +mobile()
            font-size 20px
            padding 16px 32px
        &:hover
            background $bege
            color #000
    form
        .erro
            display inline-block
            padding 10px
            georgia 18
            color #C82535
            border 1px solid #C82535
        .selecao
            font-size 0
            input
                display none
                &:checked + label
                    background #000
                    color $bege
            label
                display inline-block
                border 1px solid #000
                georgia 20
                text-transform uppercase
                margin 3px
                padding 12px 24px
                cursor pointer
                transition background .3s, color .3s
                +mobile()
                    georgia 16
                    display block
        input[type='text']
            display block
            margin 0 auto 8px
            background #fff
            border 0
            border-radius 4px
            color #000
            georgia 15 normal italic
            text-align center
            width 100%
            max-width 735px
            padding 5px
            outline 0
            +mobile()
                font-size 14px
            &:focus
                box-shadow 0 0 5px darken($bege, 10)
            &.erro
                border 1px solid #C82535
        input[type='submit']
            display inline-block
            color $bege
            background #000
            georgia 24 bold
            transition background .3s, color .3s
            padding 18px 32px
            border 0
            margin-top 30px
            outline 0
            +mobile()
                font-size 20px
                padding 16px 32px
            &:hover
                background $bege
                color #000

@media print
    .autorizacao
        .btn
            display none
        h2
            georgia 24 bold
            &:first-child
                margin-bottom 3em
        .texto-impressao
            margin-top 2em
