.ficha
    text-align center
    .btn
        display inline-block
        color $bege
        background #000
        georgia 24 bold
        transition background .3s, color .3s
        padding 18px 32px
        +mobile()
            font-size 20px
            padding 16px 32px
        &:hover
            background $bege
            color #000
    p
        georgia 20
        text-align center
        max-width 35em
        margin-left auto
        margin-right auto
        +mobile()
            font-size 16px
        a
            display block
            font-style italic
            font-weight 700
            &:hover
                text-decoration underline
        span
            font-weight 700
