.fotos
    clearfix()
    a
        display block
        float left
        width 24.1%
        margin-right 1.2%
        margin-bottom 1.2%
        position relative
        &:nth-child(4n)
            margin-right 0
        +mobile()
            width 32.5333%
            &:nth-child(4n)
                margin-right 1.2%
            &:nth-child(3n)
                margin-right 0
        img
            width 100%
            height auto
            display block
        &:after
            content ''
            position absolute
            top 0
            left 0
            width 100%
            height 100%
            opacity 0
            background rgba($bege, .5)
            transition opacity .3s
        &:hover:after
            opacity 1
