.home
    width 100%
    position relative
    &:after
        content ''
        width 100%
        height 50%
        position absolute
        top 0
        left 0
        background #000
        z-index -1
    .center
        +mobile()
            width 100%
    img
        max-width 100%
        margin 0 auto
        display block
