.levar
    text-align center
    h1, h2
        display none
    h2
        georgia 18 bold
    h1
        georgia 24 bold
        margin-bottom 3em
    .btn
        display inline-block
        color $bege
        background #000
        georgia 24 bold
        transition background .3s, color .3s
        padding 18px 32px
        margin-bottom 1em
        +mobile()
            font-size 20px
            padding 16px 32px
        &:hover
            background $bege
            color #000
    p
    ul
    ol
        georgia 18
        text-align left
        max-width 45em
        margin-left auto
        margin-right auto
        +mobile()
            font-size 16px
        li
            margin .3em 0

@media print
    .levar
        .btn
            display none
        h1, h2
            display block
