.not-found
    text-align center
    padding-top 50px
    +tablet()
        padding-top 30px
    +mobile()
        padding-top 25px
    h1
        display inline-block
        georgia 16 bold
        text-transform uppercase
        border 2px solid #000
        padding 10px 20px
        margin 0
        +mobile()
            font-size 14px
