header
    background #000
    width 100%
    padding 50px 0
    +tablet()
        padding 30px 0
    +mobile()
        padding 25px 0
    .logo
        display block
        width 300px
        height 114px
        margin 0 auto 50px
        background $img('marca-nissim.png') no-repeat center
        text-indent -9999px
        +tablet()
            margin-bottom 30px
        +mobile()
            margin-bottom 20px
            width 220px
            height 86px
            background-size 100% auto
    nav
        width 100%
        display block
        margin 0
        padding 0
        color #fff
        text-align center
        font-size 0
        a
            display inline-block
            transition background .3s, color .3s
            padding 6px 8px
            georgia 16
            position relative
            margin 0 4px
            +tablet()
                georgia 15
                &:nth-child(2):after
                    display none
            +mobile()
                display block
                georgia 14
                &:after
                    display none
            &:after
                content ''
                height 14px
                width 1px
                background #fff
                position absolute
                top 50%
                margin-top -7px
                right -5px
            &:hover
            &.active
                background $bege
                color #000
            &:last-child:after
                display none
        .tablet-break
            display none
            +tablet()
                font-size 0
                display block

@media print
    header
        display none
    .main
        background none
