html
body
    height 100%

body
    background $bege
    background-image linear-gradient(to right, #9da4a2 0%,#e1b075 100%)
    padding-bottom 50px
    +tablet()
        padding-bottom 30px
    +mobile()
        padding-bottom 25px

.main
    background $img('img-bg.jpg') no-repeat center
    background-size cover
    min-height calc('100% - 245px')
    padding-bottom 0
    +tablet()
        min-height calc('100% - 232px')
    +mobile()
        min-height calc('100% - 271px')
    .center
        clearfix()
        background rgba(#fff, .65)
        padding 40px
        +tablet()
            padding 30px
        +mobile()
            width 100%
            padding 20px
